/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
   font-family: 'Roboto', sans-serif;
 }

.album-tile {
  padding: 1rem;
  text-align: center;
  width: 20%;
  display:inline-block;
}

.album-tile:hover {
  padding: 1rem;
  text-align: center;
  width: 20%;
  display:inline-block;
  background-color: black;

}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
}

.index-header {
  color: #2980b9;
}

.top-bar {
  background-color: #2c3e50;
}

.graph {
  padding: 1em;
}

.selectable-albums {
  display: flex;
}

.album-show-tile {
  padding: .1em;
}


h2 {
  font-size: 1.2em;
}

h1.album-header {
  padding: .5em;
}
