.form-container {
  border: 1px solid blue;
  display: flex;
}

.form {
  /* border: 1px solid red; */
  padding: 1px;
  flex-basis: 50%;
}

.seleced-songs {
  color: #2980b9;
  border: 1px solid green;
  padding: 1px;
  flex-basis: 50%;
  text-align: center;
}

.songs-header {
  /* color: #2980b9; */
  display: inline-block;
  text-align: center;
}
