body {
  font-family: 'Roboto Slab', serif;
}

h1.index-header {
  font-family: 'Roboto Slab', serif;
  text-decoration: underline;
}

.album-tile {
 padding: 1rem;
 text-align: center;
 width: 20%;
 display:inline-block;
  &:hover{
    padding: 1rem;
    text-align: center;
    width: 20%;
    display:inline-block;
    background-color: black;
    border-radius: .5em;
  }
}

.index-header {
 color: #f73859;
 padding: 1rem;
}

.top-bar, .top-bar-section {
 background-color: #233142;
}

.album-show-tile {
 padding: .1em;
}

h2 {
 font-size: 1.2em;
 color: #f95959;
 font-family: 'Roboto Slab', serif;
}
