.show-image {
  width: 300px;
  height: 300px;
  border-radius: .5em;
  text-align: center;
  margin: 30px;
}

.rv-discrete-color-legend {
  background-color: white;
}

.details-container {
  display: flex;
  .container {
    display: flex;
    .graph {
      & > div {
        margin-left: -30px;
      }
    }
  }
}

.delete-button {
  margin-left: 35px;
}

span.bold {
  color: #233142;
}

span.info-titles {
font-weight: bold;
font-size: 1em;
}

.titles p {
  font-style: italic;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}


.chart {
  width: 100%;
  height: 100%;
  transform: translate(1em, 0em);
  overflow: visible;
}

.graph {
  text-align: center;
  overflow: visible;
  padding: 30px;
}

.image-wrapper, .album-songs {
  padding-top: 10px;
}



.selectable-albums {
 display: flex;
 justify-content: center;
 box-sizing: border-box;
 background-color: #f95959;
 border-radius: .2em;
 // padding-bottom: .2em;

}

.image-wrapper {
  display: block;
  padding: 10px;
  p{
    margin-bottom: 3px;
  }
}

.single-album {
  padding: .5em;
}

.single-album:hover {
  padding: .5em;
  background-color: black;
  border-radius: .3em;
}


.album-show-button {
  text-align: center;
}

.legend {
  font-size: 1em;
  background: transparent;
}

h1.album-header {
 padding: .2em;
 color: black;
 font-family: 'Roboto Slab', serif;
 text-decoration: underline;
}

// div.item.graph {
//   text-align: center;
// }

.rv-radar-chart {
  width: 100%;
}

.rv-xy-plot__inner {
  display: block;
  text-align: center;
  background-color: white;
  padding: 1em;
  border-radius: .5em;
}

button {
  background-color: #455d7a;
  border-radius: 5px;
  &:hover {
    background-color: #f95959;
    border-radius: 5px;
  }
}

.button {
  background-color: #455d7a;
  border-radius: 5px;
  &:hover {
    background-color: #f95959;
    border-radius: 5px;
  }
}

h2.titles {
  color: #f95959;
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  text-decoration: underline;
  font-weight: 600;
}
