.container {
  display: flex;
  flex-direction: row;
}

.item {
  padding: .5em;
}

.graph {
  flex-basis: 50%;
  text-align: center;
}

.chart {
  // display: block;
  // overflow: visible;
  // margin: auto auto;
  // viewBox: 0, 0, 50, 50;
  // background-color: blue;
}

.album-info {
  flex-basis: 25%;

}

.album-songs {
  flex-basis: 25%;

}

.selectable-albums {
 display: flex;
 justify-content: center;
 box-sizing: border-box;
}


.single-album {
  padding: .5em;
}

.single-album:hover {
  padding: .5em;
  background-color: black;
}

.album-show-button {
  text-align: center;
}

.legend {
  font-size: 1em;
}

h1.album-header {
 padding: .2em;
 color: #f73859;
}

button {
  background-color: #384259;
  border-radius: 5px;
}

.button {
  background-color: #384259;
  border-radius: 5px;
}

h2.titles {
  color: #f73859;
  font-size: 1.2em;
}
