.selectable-albums {
 display: flex;
}

.container {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;

}

.item {
  border: 1px solid red;
  padding: .5em;
}

.graph {
  flex-basis: 50%;
  text-align: center;
}

.chart {
  display: block;
  margin: auto auto;
}

.album-info {
  flex-basis: 25%;

}

.album-songs {
  flex-basis: 25%;

}

h1.album-header {
 padding: .2em;
}

button {
  background-color: #2c3e50;
}
