.container {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

.item {
  border: 1px solid red;
  padding: .5em;
}

.graph {
  flex-basis: 50%;
  text-align: center;
}

.chart {
  display: block;
  overflow: visible;
  // width: 700px;
  // height: 600px;
  margin: auto auto;
}

.album-info {
  flex-basis: 25%;

}

.album-songs {
  flex-basis: 25%;

}

.selectable-albums {
 display: flex;
 border: 1px solid green;
 justify-content: center;
 box-sizing: border-box;
}


.single-album {
  padding: .5em;
}

.single-album:hover {
  padding: .5em;
  background-color: black;
}

.album-show-button {
  text-align: center;
}

.legend {
  font-size: 1em;
}

h1.album-header {
 padding: .2em;
}

button {
  background-color: #2c3e50;
}
